body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    margin: 0;
}
.calculator {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}
.calculator p{
    font-size: 15px;
    margin: 10px 0 5px;
}
input[type="number"] {
    width: 80%; 
    padding: 10px;
    margin: 10px 0; 
    border: 2px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s;
}
input[type="number"]:focus {
    border-color: hsl(36, 100%, 53%);
    outline: none;
}
button {
    background-color: hsl(36, 100%, 53%);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 90%;
}
button:hover {
    background-color: hsl(32, 93%, 77%);
}
p {
    font-size: 1.2em;
    margin-top: 20px;
}